@mixin container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@mixin boxProduct {
  width: 31%;
  height: 180px;
  float: left;
  margin: 11px;
}
@import "reset";
@import "color";



.main-container-app{
  width: 100vw;
  height: auto;

  // START CONTAINER------------------------------------------------------------



  .header{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;

    .logo-image{
      text-align: center;
      a{
        img{
          width: 200px;
          height: 120px;
        }
      }
    }

    .menu-header{
      font-size: 30px;
      font-weight: bolder;
      .options-menu{
        margin-left: -60px;
        ul{

          li{
            display: inline;
            list-style: none;
            padding: 30px;
          }
        }
      }

    }

  }

  // START PRODUCT CONTAINER----------------------------------------------------
  .container{

    background-image: url(..\images\fondo-pag-speciali.jpg);

    .product-container{

      width: 1000px;
      height: 70%;
      margin: 70px auto;

      .type-of-pasta-1{
        display: flow-root;

        .box-product{
          @include boxProduct;
          img{
            width: 100%;
            height: 100%;
          }
        }

      }

      .type-of-pasta-2{
        display: flow-root;

        .box-product{
          @include boxProduct;
          img{
            width: 100%;
            height: 100%;
          }
        }

      }

      .type-of-pasta-3{
        display: flow-root;

        .box-product{
          @include boxProduct;
          img{
            width: 100%;
            height: 100%;
          }
        }

      }
    }

    // START PRODUCT DETAILS OF PAGE PRODUCT.BLADE.PHP------------------------------
    .details-product{
      width: 100%;
      height: 1300px;
      background: #b7dae5;

      .container{
        width: 1100px;
        margin: 0 auto;

        .title{
          width: 100%;
          text-align: center;
          background: #b7dae5;
          height: 34px;
          padding:30px;
          margin-left: -35px;

          h3{
            color:$titleColor;
            font-size: 30px;

          }
        }

        .image{
          margin-bottom: -5px;
          img{
            width: 100%;
            height: 450px;
          }


        }
        .front-image{
          margin-bottom: -5px;
          img{
            width: 100%;
            height: 450px;
            margin-bottom: -5px;
          }


        }
      }

    }

  }

  // START FOOTER------------------------------------------------------------
  .footer{
    width: 100%;
    height: 500px;
    background: #fff;

    .container{
      width: 1100px;
      margin: 0 auto;
      height: 80%;
      display: flex;
      background: #fff;
      color: $colorFooter;

      .content-footer-left{
        height: 100%;
        width: 37%;

        .logo{
          img{
            width: 200px;
            height: 120px;
            padding-left: 40px;

          }
        }

        .under-logo-list{
          ul{
            li{
              list-style: none;
              margin-left: 0;

            }
          }
        }
      }

      .content-footer-right{
        width: 60%;
        height: 100%;
        display: flex;

        .left-list{

          ul{
            li{
              list-style: none;
              margin-left:-40px;
              padding-bottom: 5px;
            }
          }

        }

        .right-list{
          padding-left: 168px;

          ul{
            li{
              list-style: none;
              margin-left:-40px;
              padding-bottom: 5px;
            }
          }
        }

      }
    }
    .under-footer-background{
      width: 100%;
      height: 100px;
      background-image: url(https://www.lamolisana.it/wp-content/uploads/2020/06/footer-montagne-bottom.jpg);
      background-size: contain;
    }
  }


  // END MAIN-CONTAINER
}
