.main-container-app {
  width: 100vw;
  height: auto;
  border: 1px solid black;
}
.main-container-app .header {
  width: 100%;
  height: 220px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container-app .header .logo-image {
  text-align: center;
}
.main-container-app .header .logo-image img {
  width: 200px;
  height: 120px;
}
.main-container-app .header .menu-header .options-menu {
  margin-left: -60px;
}
.main-container-app .header .menu-header .options-menu ul li {
  display: inline;
  list-style: none;
}
.main-container-app .container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin: 0 auto;
  background-image: url(/images/fondo-pag-speciali.jpg?495cda396bfe9f137038166b61c40759);
}
.main-container-app .container .product-container {
  width: 1000px;
  height: 70%;
  margin: 70px auto;
  border: 1px solid black;
}
.main-container-app .container .product-container .type-of-pasta-1 {
  display: flow-root;
}
.main-container-app .container .product-container .type-of-pasta-1 .box-product {
  width: 31%;
  height: 180px;
  float: left;
  margin: 11px;
}
.main-container-app .container .product-container .type-of-pasta-1 .box-product img {
  width: 100%;
  height: 100%;
}
.main-container-app .container .product-container .type-of-pasta-2 {
  display: flow-root;
}
.main-container-app .container .product-container .type-of-pasta-2 .box-product {
  width: 31%;
  height: 180px;
  float: left;
  margin: 11px;
}
.main-container-app .container .product-container .type-of-pasta-2 .box-product img {
  width: 100%;
  height: 100%;
}
.main-container-app .container .product-container .type-of-pasta-3 {
  display: flow-root;
}
.main-container-app .container .product-container .type-of-pasta-3 .box-product {
  width: 31%;
  height: 180px;
  float: left;
  margin: 11px;
}
.main-container-app .container .product-container .type-of-pasta-3 .box-product img {
  width: 100%;
  height: 100%;
}
.main-container-app .container .footer {
  width: 100%;
  height: 500px;
}
.main-container-app .container .footer .container {
  width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.main-container-app .container .footer .container .content-footer-left {
  height: 100%;
  width: 40%;
}
.main-container-app .container .footer .container .content-footer-left .logo img {
  width: 200px;
  height: 120px;
}
.main-container-app .container .footer .container .content-footer-left .under-logo-list ul li {
  list-style: none;
  margin-left: 0;
}
.main-container-app .container .footer .container .content-footer-right {
  width: 60%;
  height: 100%;
  display: flex;
}
.main-container-app .container .footer .container .content-footer-right .left-list ul li {
  list-style: none;
}
.main-container-app .container .footer .container .content-footer-right .right-list ul li {
  list-style: none;
}
