.main-container-app {
  width: 100vw;
  height: auto;
}
.main-container-app .header {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}
.main-container-app .header .logo-image {
  text-align: center;
}
.main-container-app .header .logo-image img {
  width: 200px;
  height: 120px;
}
.main-container-app .header .menu-header {
  font-size: 30px;
  font-weight: bolder;
}
.main-container-app .header .menu-header .options-menu {
  margin-left: -60px;
}
.main-container-app .header .menu-header .options-menu ul li {
  display: inline;
  list-style: none;
  padding: 30px;
}
.main-container-app .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url(/images/fondo-pag-speciali.jpg?495cda396bfe9f137038166b61c40759);
}
.main-container-app .container .product-container {
  width: 1000px;
  height: 70%;
  margin: 70px auto;
}
.main-container-app .container .product-container .type-of-pasta-1 {
  display: flow-root;
}
.main-container-app .container .product-container .type-of-pasta-1 .box-product {
  width: 31%;
  height: 180px;
  float: left;
  margin: 11px;
}
.main-container-app .container .product-container .type-of-pasta-1 .box-product img {
  width: 100%;
  height: 100%;
}
.main-container-app .container .product-container .type-of-pasta-2 {
  display: flow-root;
}
.main-container-app .container .product-container .type-of-pasta-2 .box-product {
  width: 31%;
  height: 180px;
  float: left;
  margin: 11px;
}
.main-container-app .container .product-container .type-of-pasta-2 .box-product img {
  width: 100%;
  height: 100%;
}
.main-container-app .container .product-container .type-of-pasta-3 {
  display: flow-root;
}
.main-container-app .container .product-container .type-of-pasta-3 .box-product {
  width: 31%;
  height: 180px;
  float: left;
  margin: 11px;
}
.main-container-app .container .product-container .type-of-pasta-3 .box-product img {
  width: 100%;
  height: 100%;
}
.main-container-app .container .footer {
  width: 100%;
  height: 500px;
  background: #fff;
}
.main-container-app .container .footer .container {
  width: 1100px;
  margin: 0 auto;
  height: 80%;
  display: flex;
  background: #fff;
  color: #848d9b;
}
.main-container-app .container .footer .container .content-footer-left {
  height: 100%;
  width: 37%;
}
.main-container-app .container .footer .container .content-footer-left .logo img {
  width: 200px;
  height: 120px;
  padding-left: 40px;
}
.main-container-app .container .footer .container .content-footer-left .under-logo-list ul li {
  list-style: none;
  margin-left: 0;
}
.main-container-app .container .footer .container .content-footer-right {
  width: 60%;
  height: 100%;
  display: flex;
}
.main-container-app .container .footer .container .content-footer-right .left-list ul li {
  list-style: none;
  margin-left: -40px;
  padding-bottom: 5px;
}
.main-container-app .container .footer .container .content-footer-right .right-list {
  padding-left: 168px;
}
.main-container-app .container .footer .container .content-footer-right .right-list ul li {
  list-style: none;
  margin-left: -40px;
  padding-bottom: 5px;
}
.main-container-app .container .footer .under-footer-background {
  width: 100%;
  height: 100px;
  background-image: url(https://www.lamolisana.it/wp-content/uploads/2020/06/footer-montagne-bottom.jpg);
  background-size: contain;
}
